@using Main.Extensions
@using Main.ViewModels;
@model VM_CMS_ARTICLE
<div>
    <dl class="dl-horizontal">
        <dd>
            @Html.Raw(Model.ARTICLECONTENT)
        </dd>
    </dl>
</div>